@{
    ViewData["Title"] = "DrawPublish";
}
<script type="text/javascript">
    
</script>
<div href="#" id="publish">
    <label >Name:</label>
    <br>
    <input type="text" id="name" name="name">
    <br>
    <label>Price:</label>
    <br>
    <input type="number" id="price" name="price" value="100" max="1000">
    <br>
    <br>
    <br>
    <input type="submit" id="SubmitButton" value="Publish">
    <style>
        #publish {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</div>
