@{
    ViewData["Title"] = "Draw";
}
<meta charset="UTF-8">
<body>
    <div href="#" id="Tools">
        <button id="Undo" type="button" class="btn btn-primary btn-lg btn-block" onclick="Undo()"><i class="fa fa-bars"></i>Undo</button>
        <div href="#" id="Checks">
            <input type="checkbox" class="btn-check" href="#" id="Eraser">
            <label class="btn btn-primary btn-lg btn-block" for="Eraser">Eraser</label>
            <input type="checkbox" class="btn-check" href="#" id="Fill">
            <label class="btn btn-primary btn-lg btn-block" for="Fill">Fill</label>
        </div>
        <input type="color" id="Palette" name="Palette" oninput="ChnageStrokeColor(value)">
        <input type="range" id="StrokeSize" min="5" max="100" value="5" step="5" class="slider" onchange="ChangeStrokeSize(value)">
        <button id="Publish" type="button" class="btn btn-primary btn-lg btn-block" onclick="Publish()">Publish</button>
    </div>
    <canvas id="canvas" width="1000" height="1000"></canvas>
</body>
<script type="text/javascript" src="~/lib/paper-full.min.js"></script>
<script type="text/javascript" canvas="canvas">
    var CanvasWidth, CanvasHeight, BackgroundColor;
    var myPath;
    var color = 'black';
    var width = 5;
    var fillFlag = false;
    NewCanvas();
    function ChnageStrokeColor(newColor) { color = newColor; }
    function ChangeStrokeSize(newSize) { width = newSize; }
    function Undo() { myPath.remove(); }
    function NewCanvas() {
        CanvasWidth = localStorage.getItem("Width");
        BackgroundColor = localStorage.getItem("Color");
        CanvasHeight = localStorage.getItem("Height");
        var myCanvas = document.getElementById("canvas");
        var ctx = myCanvas.getContext("2d");
        ctx.canvas.width = CanvasWidth;
        ctx.canvas.height = CanvasHeight;
        canvas.style.backgroundColor = BackgroundColor;

    }
    function Publish() {
        var canvas = document.getElementById('canvas');
        localStorage.setItem("ImgResult", canvas.toDataURL());
        location.href = '@Url.Action("DrawPublish", "Draw")';
    }
</script>
<script type="text/paperscript" canvas="canvas">
    function onMouseDown(event) {
        myPath = new Path();
        if(document.getElementById("Fill").checked){
            myPath.strokeWidth=5;
            fillFlag=true;
            myPath.closed=true;
        }else{
            fillFlag=false;
        }
        if(document.getElementById("Eraser").checked){
            myPath.strokeColor = window.getComputedStyle(canvas, null).getPropertyValue('background-color');
        }else{
            myPath.strokeColor = color;
        }
        myPath.strokeWidth =width;
    }
    function onMouseDrag(event) {
        myPath.add(event.point);
    }
    function onMouseUp(event){
        myPath.simplify(1);
        if(fillFlag){
            if(document.getElementById("Eraser").checked){
                myPath.fillColor= window.getComputedStyle(canvas, null).getPropertyValue('background-color');
            }else{
                myPath.fillColor = color;
            }
        }
    }
    tool.onKeyDown = function(event) {
    }
</script>
<style>
    canvas {
        background-color: #04AA6D;
        outline: 5px solid;
    }
    #Tools {
        position: absolute;
        left: 10px;
        padding: 15px;
        width: 150px;
        min-block-size:150px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        border-radius: 0 5px 5px 0;
    }
    button:active {
        transform: scale(0.9);
    }
    #Undo {
        top: 100px;
        background-color: #2196F3;
    }
    #Eraser {
        top: 160px;
    }
    #Fill {
        top: 220px;
    }
    #Publish {
        top: 280px;
        background-color: #555
    }
    #StrokeSize {
        left:-50%;
        -webkit-appearance: slider-vertical;
    }
    #Palette {
        -webkit-appearance:none;
        border:none;
        height:100px;
        width:100px;
    }
</style>

